/* targeting HTML tag <img> */
img {
    border: #2f99a7ff solid 2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* targeting HTML class .control-label */
.control-label {
    font-weight: bold; 
    color: #021d31ff; 
    text-decoration: underline; 
}

.card-header {
    background-color: #2f99a7ff;
    color: white;
    font-style: italic;
} 

/* targeting HTML id */
#mass_range-label {
    color: purple;
}
